---
layout: layouts/home.njk
eleventyNavigation:
  key: Strategies
  order: 3
permalink: /strategies/
---
<h1>Trading Strategies</h1>

Here is a list of option strategies I currently use.  

<h2>Current Option Selling Strategies</h2>
{% set postslist = collections[ "active" ]  %}
{% include "postslist.njk" %}

<h2>Former Strategies</h2>
Here are strategies that I have used in the past.  
{% set postslist = collections[ "inactive" ]  %}
{% include "postslist.njk" %}
